In [1]:
import pandas as pd

In [14]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('Data files/u.data', sep='\\t', names=r_cols, usecols=range(3),encoding="ISO-8859-1")
#ratings

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [15]:
m_cols = ['movie_id', 'title']

In [22]:
movies = pd.read_csv('Data files/u.item', sep='|', names=m_cols, usecols=range(2),encoding="ISO-8859-1")
#movies.head(30)

In [23]:
movies.merge(ratings)

        movie_id                                      title  user_id  rating
0              1                           Toy Story (1995)      308       4
1              1                           Toy Story (1995)      287       5
2              1                           Toy Story (1995)      148       4
3              1                           Toy Story (1995)      280       4
4              1                           Toy Story (1995)       66       3
...          ...                                        ...      ...     ...
99998       1678                          Mat' i syn (1997)      863       1
99999       1679                           B. Monkey (1998)      863       3
100000      1680                       Sliding Doors (1998)      863       2
100001      1681                        You So Crazy (1994)      896       3
100002      1682  Scream of Stone (Schrei aus Stein) (1991)      916       3

[100003 rows x 4 columns]